body {
  user-select: none;
  background-color: #333;
}

.app {
  color: white;
  background-color: #333;
}

button,
select {
  margin: 8px;
  padding: 6px;
  background-color: #fafafa;
  border: none;
  min-width: 80px;
}
